<!--<div ng-controller="StatisticsCtrl">
  <h1>{{message}}</h1>
</div>-->
</div>
<div class="grid"><!--
  Sidebar
   --><div class="sidebar grid__item one-sixth lap-one-third desk-wide-one-eighth ztop">
        <div ng-controller="sidebarController">
            <h1 class="title side-up soft-half hard-bottom flush">Datasets</h1>
            <hr class="flush side-up">
            <div class="overflow--y" sidebar ng-cloak>
              <ul class="nav nav--stacked push-half--ends">
                <li ng-class="{active:isActive('/{{d.id}}')}" ng-repeat="d in datasets">
                  <a class="push-half--left" href="#/{{d.id}}" ng-click="map(d.id)">{{d.name}}</a>
                </li>
              </ul>
            </div>
            <div class="importdata side-down">
              <hr class="flush">
              <div class="islet flush">
                <a ng-click="importData()" class="btn btn--centered btn--primary btn--full">Import Dataset</a>
              </div>
            </div>
        </div>
      </div><!--
  Main Content (Map & Data)
   --><div class="grid__item five-sixths lap-two-thirds desk-wide-seven-eighths">
        <div class="grid">
          <div class="grid__item one-whole" ng-controller="mapController">
            <div id="map_canvas" class="map" fullsize></div>
            <div class="draggable zmid">
              <div class="top" draggable>topo</div>
              <div class="content">content</div>
            </div>
            <!-- TODO: bottom-bar -->
            <!--
            <div class="bbar bbar--active">
              <div class="bbar__arrow">LOG</div>
              <div class="bbar__body">content</div>
            </div>
            -->
          </div>
          <div class="bbar">
              <div class="bbar__label btn btn--centered btn--primary" expand>☰</div>
              <div class="bbar__body">
                <div class="grid"><!--
                  Mudar contexto
                  --><div class="grid__item one-third" ng-controller="contextDefinition">
                    <input type="range" value="0" min="0" max="3" step="0.5" ng-model="pixel" ng-change="val()">
                    <p>{{pixel}}</p>
                  </div><!--
                  Contexto atual    
                  --><div class="grid__item one-third" ng-controller="contextDisplay">
                    <p><b>Zoom:</b> {{context.map.zoom}}</p>
                    <p><b>Canvas:</b> width: {{context.map.view.canvasDimensions.width}} height: {{context.map.view.canvasDimensions.height}}</p>
                  </div><!--
                  Pedir gráficos
                  --><div class="grid__item one-third" ng-controller="statisticsRequestController">
                    <select>
                      <option ng:repeat="item in charts" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <button class="btn btn--primary btn--small" ng-click="compute()">Compute</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
</div>