<!--<div ng-controller="StatisticsCtrl">
  <h1>{{message}}</h1>
</div>-->
</div>
<div class="grid"><!--
  Sidebar
   --><div class="sidebar grid__item one-sixth lap-one-third desk-wide-one-eighth ztop">
        <div ng-controller="sidebarController">
            <h1 class="title side-up soft-half hard-bottom flush">Datasets</h1>
            <hr class="flush side-up">
            <div class="overflow--y" sidebar ng-cloak>
              <ul class="nav nav--stacked push-half--ends">
                <li ng-repeat="d in datasets" selected>
                  <a class="push-half--left datalist" href="" ng-click="map(d.id)">{{d.name}}</a>
                </li>
              </ul>
            </div>
            <div class="importdata side-down">
              <hr class="flush">
              <div class="islet flush">
                <a ng-click="importData()" class="btn btn--centered btn--primary btn--full">Import Dataset</a>
              </div>
            </div>
        </div>
      </div><!--
  Main Content (Map & Data)
   --><div class="grid__item five-sixths lap-two-thirds desk-wide-seven-eighths">
        <div class="grid">
          <div class="grid__item one-whole" ng-controller="mapController">
            <div id="map_canvas" class="map" fullsize></div>
            <div id="draggable" class="draggable zmid hide" ng-controller="floatCanvasController">
              <div class="draggable__top" draggable><p class="flush minimize">Statistics<span hidesib>-</span></p></div>
              <div class="draggable__content">
                <canvas chart type="Bar" options="options" data="chart" width="500" height="300"></canvas>
              </div>
            </div>
          </div>
          <div id="bottombar" class="bbar" ng-controller="bottomBarController" ng-style="{ 'margin-top': showBtn ? '-58px' : '' }">
              <div class="bbar__label btn btn--centered btn--primary" expand ng-show="showBtn" ng-click="toggle()">☰</div>
              <div class="bbar__body" id="bbar__body" ng-show="showPnl">
                <a href="" id="bbarclose" class="bbar__body__closebtn" ng-click="toggle()">×</a>
                <div class="grid"><!--
                  Mudar contexto
                  --><div class="grid__item one-third palm-one-whole soft-half--sides" ng-controller="contextDefinition">
                    <h6 class="subhead">Visualization</h6>
                    <p class="center push-half--bottom"><b>Name: </b>{{visualization}}</p> 
                    <p class="center push-half--bottom"><b>Pixel Resolution: </b> 
                      <select ng-model="pixel" ng-change="val()">
                        <option>0</option>
                        <option>0.5</option>
                        <option>1</option>
                        <option>1.5</option>
                        <option>2</option>
                        <option>2.5</option>
                        <option>3</option>
                      </select>
                    </p>
                  </div><!--
                  Contexto atual    
                  --><div class="grid__item one-third palm-one-whole soft-half--sides" ng-controller="contextDisplay">
                    <h6 class="subhead">Current Context</h6>
                    <p class="center push-half--bottom"><b class="alignform">Zoom:</b> {{context.map.zoom}}</p>
                    <p class="center push-half--bottom"><b class="alignform">Canvas:</b> {{context.map.view.canvasDimensions.width}} x {{context.map.view.canvasDimensions.height}}</p>
                  </div><!--
                  Pedir gráficos
                  --><div class="grid__item one-third palm-one-whole soft-half--sides" ng-controller="statisticsRequestController">
                    <h6 class="subhead">Compute Statistics</h6>
                    <p class="center">
                      <select>
                        <option ng:repeat="item in charts" value="{{item.id}}">{{item.name}}</option>
                      </select>
                    </p>
                    <p class="soft--sides soft-half--bottom flush"><button class="btn btn--primary btn--full btn--small" ng-click="compute()" statshow>Compute</button></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
</div>