.bbar {
  margin: 15px;
  z-index: 2000;
  position: relative;
}

.bbar__body {
  width: 100%;
  background-color: #f7f4f2;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
     -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
          box-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.bbar__label.menu {
  margin-bottom: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

