.draggable {
  position: absolute;
  top: 20px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
min-width: 500px;
  min-height: 100px;
}

.draggable__top {
  background-color: #f7f4f2;
  cursor: move;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  .subhead {
    margin-top: -20px;
    margin-bottom: 0;
  }

}

.draggable__content {
  background-color: #f7f4f2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.hide {display: none;}

.hide--vis {visibility: hidden;}

.topabs {
  position: absolute;
  top: 15px;
  right: 15px;
}