.draggable {
  position: absolute;
  top: 20px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
min-width: 500px;
  min-height: 100px;
}

.draggable__top {
  background-color: $red;
  color: white;
  cursor: move;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  .minimize {
    text-align: center;
    & span.minus {
      text-align: right;
      padding: 10px; 
      cursor: pointer;
    }
  }

}

.draggable__content {
background-color: white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.hide {display: none;}

.hide--vis {visibility: hidden;}

.topabs {
  position: absolute;
  top: 15px;
  right: 15px;
}