/*input[type="file"] {
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
}*/


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[type=text] {
  padding: 5px;
  border: 1px solid #d3cdc9;
  &:focus {
    border: 1px solid #b1a69f;
  }
}

input {
  width: 100%;
  margin-bottom: $half-spacing-unit;
  &:focus {
    outline: none;
  }
}
